h1 {
    text-align: left;
    color: black;
}

.container {
    width: 40%;
    margin: 0 auto;
    cursor: pointer;
    color: blue;
    font-size: 25px;
    font-weight: bold;
}

.container:hover {
    color: black;
}

.container:hover .plus {
    visibility: visible;
    transition: all 0.5s ease;
}

.img {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 100%;
    visibility: hidden;

}

.m1image {
    background-image: url(./image/m1.jpg);
}

.m2image {
    background-image: url(./image/m2.jpg);
}

.m3image {
    background-image: url(./image/m3.jpg);
}

.m4image {
    background-image: url(./image/m4.gif);
}

.m5image {
    background-image: url(./image/m5.jpg);
}

/* /////////////////////////////////////////// */
.meme {
    height: 2.5rem;
    overflow: hidden;
    transition: all 0.5s ease;
    border-top: 0.1rem solid #bdb1b1;
    padding: 0.2rem 0;
    display: flex;
    justify-content: space-between;
    transition: all 0.5s ease;

}

input {
    visibility: hidden;
    cursor: pointer;
    width: 0;
}

label {
    cursor: pointer;
    width: 100%;
}

input:checked {
    transition: all 0.5s ease;
}

input:checked~label>div {
    visibility: visible;

}

.plus {
    height: 1.3em;
    /* transition: all 0.5s ease; */
    visibility: hidden;
}

.meme input:checked~label {
    color: black;
}

.meme input:checked~div {
    color: black;
    transform: rotate(-45deg);
}

.meme:has(>input:checked) {
    transition: all 0.5s ease;
    height: 60vh;
}

.meme:hover {
    color: black;
    height: 60vh;
    transition: all 0.5s ease;


}

.meme:hover>.plus {
    transform: rotate(-45deg);
    transition: all 0.5s ease;

}

.meme:hover>label>div {
    visibility: visible;
    transition: all 0.5s ease;
}

label:active {
    filter: grayscale(70%);
    color: blue;
}

input:checked~label {
    height: 100%;
    transition: all 0.5s ease;
}

.meme:hover>label {
    height: 100%;
    transition: all 0.5s ease;
}

@media screen and (max-width: 1920px) {
    .container {
        width: 50%;
        font-size: 1.2em;
    }

    .meme {
        height: 2rem;

    }
}

@media screen and (max-width: 820px) {
    .container {
        width: 100%;
        margin: 0 auto;
        cursor: pointer;
        color: blue;
        font-size: 1em;
        font-weight: bold;
    }

    .meme {
        min-height: 1.2rem;

    }
}