h1 {
    text-align: center;
    color: black;

}

.container {
    width: 40%;
    margin: 0 auto;
    cursor: pointer;
    color: blue;
    font-size: 25px;
    font-weight: bold;
}

.container:hover {
    color: black;
}

.container:hover label::after {
    content: "+";
    position: absolute;
    top: 0;
    right: 0;
}

.m1image {
    background-image: url(./image/m1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

}

.m2image {
    background-image: url(./image/m2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

}

.m3image {
    background-image: url(./image/m3.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

}

.m4image {
    background-image: url(./image/m4.gif);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

}



.m5image {
    background-image: url(./image/m5.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

}

.meme {
    height: 1.5rem;
    position: relative;
    overflow: hidden;
    transition: all 1s ease;
    border-top: 0.1rem solid #bdb1b1;
    padding: 0.2rem 0;
}


.meme>div {
    height: 0;
}

input {
    visibility: hidden;
    cursor: pointer;
}

label {
    cursor: pointer;
}

input:checked {
    transition: all 1s ease;
}

.meme input:checked~label {
    color: black;
    /* transform: translateY(-50%); */
}

.meme:has(>input:checked) {
    transition: all 1s ease;
    height: 60vh;
}

.meme:hover {
    color: black;
    transition: all 1s ease;
    height: 60vh;
}

.meme>div:active {
    filter: grayscale(70%);
}

/* .meme:active>* {
    color: blue;
} */

input:checked+label::after {
    /* content: "X"; */
    transform: rotate(-45deg);
    transition: all 1s ease;
}

input:checked~div {
    height: 85%;
}

.meme:hover>div {
    height: 85%;
}

@media screen and (max-width: 1920px) {
    .container {
        width: 50%;
        font-size: 20px;
    }

    .meme {
        height: 1.2rem;

    }
}

@media screen and (max-width: 820px) {
    .container {
        width: 100%;
        margin: 0 auto;
        cursor: pointer;
        color: blue;
        font-size: 14px;
        font-weight: bold;
    }

    .meme {
        height: 2rem;

    }
}